<h1>Menu Items</h1>
<ul>
<% @menu_items.each do |item| %>
<li><h3><%= link_to(item.restaurant.name, menu_item_path(item)) %></h3></li>
<li><h4><%= item.price %></h4></li>
<img src= <%= item.img_url %> height="80" width="80" >
</ul>

<% end %>