

<h1>Welcome to Cartoon Rezzy</h1>
<br><br>
<h4>Welcome to Cartoon Rezzy! Have a meal with any of your favorite cartoon characters. Go ahead and pick a restaurant!</h4>
<br><br>
<h4><%= link_to("Restaurants", restaurants_path) %></h4>
<br>
<h4><%= link_to("Login", login_path) %></h4>


