
<h1>Make a new reservation</h1><br>
<br>

<% if logged_in? %>
    <%= render "form" %>

<% else %>
<%= "You have to be logged in to do that!" %>
<% end %><br>

<%= link_to "Log out", logout_path, method: :delete %>


